@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
.footer-row {
  border-top: 1px solid var(--social-color);
  margin-top: 70px;
}
.footer-col {
  margin: 28px 0;
}
.col-20 {
  width: 20%;
  padding: 0 15px;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #000000;
  --border-color: #ffcc00;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #f2f2f2;
  --text-color: #262626;
  --email-background-color: #c8c8c8;
  --social-color: #999999;
  --btn-color: #0072ff;
  --slider-color: #ffbf00;
   --offcanvsbckground-color: #c3d4ff;
  --figma-blue-50: #8fb1fe;
  --review-color: #d9d9d9;
  --review-background-color: #ffbc44;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* title */
.title5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.title4 {
  font-size: 24px;
  font-weight: 400;
}
.title1 {
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
}
.title2 {
  font-size: 55px;
  font-weight: 700;
}
.title3 {
  font-size: 32px;
  font-weight: 500;
}
/* footer-sec */
.footer-sec {
  background: var(--primary-color);
  padding: 70px 0 30px;
}
.footer-header {
  text-align: center;
  color: var(--header-color);
  font-size: 36px;
  font-weight: 500;
  margin: 20px auto 30px;
}
.footer-form-cont {
  max-width: 774px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--secondary-color);
}
#email {
  border: none;
  outline: none;
  width: 570px;
  height: 76px;
  background: var(--secondary-color);
  border-radius: 20px;
  padding-left: 20px;
}
#submit {
  background: var(--hover-color);
  border: none;
  width: 184px;
  height: 70px;
  /* padding: 26px 64.5px; */
  border-radius: 19px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 5px 5px 5px 0;
}
#submit::before,
#submit::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
#submit::before {
  left: -50%;
}
#submit::after {
  right: -50%;
}
#submit:hover::before {
  left: 0;
}
#submit:hover::after {
  right: 0;
}
#submit:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.footer-social,
.footer-social > ul {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer-social > ul > li {
  margin-right: 21px;
}
.footer-social-link {
  font-size: 24px;
  color: var(--social-color);
  transition: 0.6s all linear;
}
.footer-social-link:hover {
  transform: translateY(-30%);
}
.footer-main-cont{
  margin: 30px auto 0;
}
.footer-main-cont > p {
  color: var(--social-color);
  font-size: 12px;
  margin-bottom: 40px;
}
.footer-link {
  color: var(--social-color);
  font-size: 16px;
}
.footer-link:hover {
  color: var(--header-color);
}
.footer-cont-header {
  color: var(--hover-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer-cont > ul > li {
  margin-bottom: 8px;
}
.side-box {
  display: flex;
  align-items: center;
  color: var(--social-color);
}
.left-side > a {
  border-right: 1px solid var(--social-color);
  padding-right: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.right-side > a {
  margin-left: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.footer-low-img-cont {
  display: flex;
  align-items: center;
  max-width: 179px;
  margin-left: auto;
  margin-right: 30px;
}
.footer-lower-img {
  max-width: 35px;
  margin-right: 12px;
}
.footer-lower-img > a {
  width: 100%;
}
.footer-lower-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-logo {
  max-width: 52px;
  margin-bottom: 40px;
}
.footer-logo > a {
  width: 100%;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* --------- END FOOTER SECTION ------------- */
/* ====================================
==================================== */
/* ======================= Start media screen ======================= */

@media screen and (max-width: 1200px) {
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .side-line {
    left: 75%;
    width: 110px;
  }

  /* ------ END FOOTER SECTION ------- */


  
}
@media screen and (max-width: 991px) {

  /* ----------- END SERVICE SECTION ----------- */
  /* ------ START FOOTER SECTION ------ */
     #submit {
    margin-left: auto;
  }
  #email {
    width: 500px;
    margin-right: auto;
  }
  .col-20 {
    width: 50%;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 30px auto 0;
  }

  /* ------ END FOOTER SECTION ------ */
  
}
@media screen and (max-width: 768px) {

  /* ---------- END SERVICE SECTION ------------- */
  /* --------- START FOOTER SECTION ------- */
   .footer-form-cont {
    max-width: 560px;
  }
  .side-line {
    transform: rotate(90deg);
    width: 100px;
    left: 33% !important;
    top: 130% !important;
  }
    .footer-logo {
    margin: 0 auto 19px;
  }
  #submit {
    margin-left: auto;
    width: 150px;
  }
  #email {
    width: 400px;
    margin-right: auto;
    height: 70px;
  }
  .col-20 {
    width: 100%;
  }
  .footer-cont {
    text-align: center;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
  .slider-card-img {
    max-width: 150px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
  .footer-low-img-cont {
    margin: 0 auto;
  }
/* --------- START FOOTER SECTION ------- */
  
}
@media screen and (max-width: 650px) {
  #email {
    width: 240px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
  #submit {
    margin-left: auto;
    width: 90px;
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {

  /* ------------ END SERVICE SECTION ----------- */
  /* --------- START FOOTER SECTION --------- */
  #submit {
    margin-left: auto;
    width: 100px;
    font-size: 12px;
  }
  #email {
    width: 250px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
  /* --------- END FOOTER SECTION --------- */
  
}
@media screen and (max-width: 420px) {
   .right-btn-close{
   text-align: right;
  }
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 24px;
  }
  .title4 {
    font-size: 12px;
  }
  #submit {
    width: 90px;
  }
  #email {
    width: 230px;
  }
}
@media screen and (max-width: 360px) {
  #submit {
    margin-left: auto;
    width: 90px;
  }
  #email {
    width: 190px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 310px;
  }
  .left-side {
    font-size: 12px;
  }
  .right-side {
    font-size: 12px;
  }
  .side-box {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}

