@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
.footer-row {
  border-top: 1px solid var(--social-color);
  margin-top: 70px;
}
.footer-col {
  margin: 28px 0;
}
.col-20{
  width: 20%;
  padding: 0 15px;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

:root {
  --primary-color: #242424;
  --pagination-color:#424242;
  --border-color: #ffcc00;
  --back-ground-color: #ffbc44;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #141414;
  --email-background-color: #c8c8c8;
  --social-color: #999999;
  --btn-color: #ccdaff;
  --slider-color: #ffbf00;
  --offcanvsbckground-color: #c3d4ff;
  --figma-blue-50: #8fb1fe;
  --review-color: #d9d9d9;
  --review-background-color: #ffbc44;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* title */
.title5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.title4 {
  font-size: 24px;
  font-weight: 400;
}
.title1 {
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
}
.title2 {
  font-size: 55px;
  font-weight: 700;
}
.title3 {
  font-size: 32px;
  font-weight: 500;
}
/* -------- nav-sec -------------*/
/* nav-sec */
.header-sec {
  position: fixed;
  width: 100%;
  /* overflow-x: hidden; */
  top: 0;
  z-index: 2;
  padding: 28px 0;
  background: var(--secondary-color);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2), 0px 15px 40px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease;
}
.nav-hide {
  transform: translateY(-100%);
}
.nav-logo {
  max-width: 52px;
  margin-left: 20px;
}
.nav-logo > a {
  width: 100%;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-link {
  padding: 0 !important;
  position: relative;
  transition: color 0.6s ease;
  padding: 5px 10px;
  color: var(--primary-color);
  cursor: pointer;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 1%;
  top: 100%;
  width: 0%;
  height: 2px;
  background-color: var(--border-color);
  transition: width 0.35s ease;
  pointer-events: none;
}
/* hover */
.nav-link:hover {
  color: var(--border-color);
}
.nav-link:hover::after {
  width: 100%;
}
/* active (clicked / current page) */
.nav-link.active {
  color: var(--border-color);
}
.nav-link.active::after {
  width: 100%;
}
.drop-link {
  color: var(--primary-color);
  /* padding-right: 22px; */
}
.drop-link > .drop-down {
  font-size: 12px !important;
}
/* .nav-link::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 12px;
  border: 2px solid var(--hover-color);
  opacity: 0;
  transition: 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid var(--hover-color);
  opacity: 0;
  transition: 0.3s ease;
}
/* Top-left corner */
/* .nav-link::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  transform: translate(-5px, 0);
} */
/* .nav-link::after {
  bottom: -10px;
  right: -10px;
  border-top: none;
  border-left: none;
  transform: translate(0, 0);
} */
/* .nav-link:hover::before {
  opacity: 1;
  transform: translate(-5px, 0);
}
.nav-link:hover::after {
  opacity: 1;
  transform: translate(-5px, -10px);
}  */
/* .nav-link.active::before {
  opacity: 1;
  transform: translate(-5px, 0);
}
.nav-link.active::after {
  opacity: 1;
  transform: translate(-5px, -10px);
} */
.nav-item {
  margin: 0 20px;
  height: 27px;
}
.offcanvas > ul {
  /* max-width: 558px;
  height: 67px;
  border-radius: 100px; */
  /* background: var(--card-background-color); */
  margin: 0 auto 0 58px;
  display: flex;
  align-items: center;
}
.offcanvas {
  flex-direction: row;
  align-items: center;
}
nav,
.navbar {
  border: none;
}
.navbar {
  border-top: 1px solid var(--primary-color) !important;
}
.primary-btn {
  padding: 16px 36px;
  border-radius: 8px !important;
  background: var(--hover-color);
  border-radius: 63px;
  color: var(--secondary-color);
  /* margin: 12px 20px 12px 0; */
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.primary-btn::before,
.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 51%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
.primary-btn::before {
  left: -51%;
}
.primary-btn::after {
  right: -51%;
}
.primary-btn:hover::before {
  left: 0;
}
.primary-btn:hover::after {
  right: 0;
}
.primary-btn:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.nav-top,
.nav-top > ul {
  display: flex;
  align-items: center;
}
.social-list {
  margin-left: auto;
  max-width: 238px;
}
.nav-top-list > li {
  margin-left: 10px;
 padding-right: 20px;
  border-right: 1px solid var(--hover-color);
}
.nav-border{
  border: none !important;
}
.social-list > li {
  margin: 0 7.5px;
}
.nav-top-link {
  color: var(--hover-color);
  background: transparent;
}
.social-link {
  color: var(--primary-color);
  transition: 0.6s all linear;
}
.nav-top-link > span {
  margin-left: 15px;
}
.nav-top-link:hover {
  color: var(--border-color);
}
.social-link:hover {
  transform: translateY(-30%);
}
.follow-link {
  max-width: 77px;
  font-size: 16px;
}
.nav-form{
  position: relative;
  margin: 0 69px 0 0;
}
#search{
  max-width: 208.97px;
  padding: 12px 0 12px 35px;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--primary-color);
}
.nav-location {
  position: relative;
  display: flex;
  align-items: center;
  width: 196.19px;
  padding: 12px 12px;
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: var(--secondary-color);
  margin: 0 27px 0 0;
}

.location-text {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
}
/* Select covers entire area */
.location-select {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* invisible but clickable */
  cursor: pointer;
}

/* Icons stay visible */
.nav-location i {
  pointer-events: none; /* VERY IMPORTANT */
}

.dropdown-icon {
  margin-left: auto;
}
.none{
 
}
.serach-icon{
  position: absolute;
  top: 25%;
  left: 5%;
}
.modal-dialog{
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 0 15px;
  border-radius: 20px;
}
.modal-content {
  max-width: 700px;
  height: 750px;
  border-radius: 0;
  background: var(--secondary-color);
  /* text-align: center; */
  transition: all 0.4s ease;
}
.right-modal{
 background: linear-gradient(
  to right,
  #2b57ff,
  #4a74ff,
  #6f93ff,
  #8fb0ff
);
display: flex;
align-items: center;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
/* width: 50%; */
}
.left-modal{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.log-left-cont{
   border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.log-right-modal{
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.modal-right-cont{
  width: 100%;
}
.modal-body-right{
  height: 45px !important;
}
.modal-cont{
  text-align: center;
  color: var(--secondary-color);
}
.input-cont {
  max-width: 556px;
  margin: 0 auto;
  /* display: flex; */
}
.modal-title {
  /* margin: 0 0 0 auto; */
  text-align: center;
}
/* .modal-col{
  display: flex;
  flex-direction: column;
} */
#modal-email {
  width: 556px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 0 auto 24px;
  padding-left: 20px;
  background: var(--email-background-color);
}
#modal-password {
  width: 556px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 0 auto 24px;
  padding-left: 20px;
   background: var(--email-background-color);
}
#confirm-password {
  width: 556px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 20px;
  margin: 0 auto 24px;
   background: var(--email-background-color);
}
#address {
  width: 556px;
  height: 48px;
  border: none;
  outline: none;
  margin-bottom: 24px;
  border-radius: 20px;
  padding-left: 20px;
   background: var(--email-background-color);
}
.modal-btn {
  padding: 14.5px 46px;
  background: var(--hover-color);
  border-radius: 20px;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal-btn::before,
.modal-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 51%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
.modal-btn::before {
  left: -51%;
}
.modal-btn::after {
  right: -51%;
}
.modal-btn:hover::before {
  left: 0;
}
.modal-btn:hover::after {
  right: 0;
}
.modal-btn:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.modal-header {
  border: none;
  flex-direction: column;
  text-align: center;
}
.log-modal-body{
  height: 400px;
  flex: 0;
}
.log-modal-header{
  margin-top: 80px;
}
.modal-right-header{
  margin-top: 150px;
}
.log-modal-right-header{
  margin-top: 200px !important;
}
.right-btn-close{
 text-align: right;
}
.modal-cont>p{
  max-width: 306px;
  margin: 40px 0 0;
}
.apple-btn {
  display: flex;
  align-items: center;
  width: 266px;
  height: 48px;
  justify-content: center;
  border-radius: 20px;
  outline: 1px solid #989898;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.apple-btn::after,
.apple-btn::before {
  content: "";
  width: 50%;
  height: 100%;
  background: var(--hover-color);
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.4s all ease;
}
.apple-btn::after {
  right: -50%;
}
.apple-btn::before {
  left: -50%;
}
.apple-btn:hover::after {
  right: 0;
}
.apple-btn:hover::before {
  left: 0;
}
.apple-btn:hover{
  color: var(--secondary-color);
}
.apple-img {
  width: 20px;
  margin: 0 5px 0 0;
}
.apple-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.google-btn {
  display: flex;
  align-items: center;
  width: 266px;
  height: 48px;
  justify-content: center;
  border-radius: 20px;
  outline: 1px solid #989898;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.google-btn::after,
.google-btn::before {
  content: "";
  width: 50%;
  height: 100%;
  background: var(--hover-color);
  position: absolute;
  top: 0;
  transition: all 0.4s ease;
  z-index: -1;
}
.google-btn::after {
  right: -50%;
}
.google-btn::before {
  left: -50%;
}
.google-btn:hover::after {
  right: 0;
}
.google-btn:hover::before {
  left: 0;
}
.google-btn:hover{
  color: var(--secondary-color);
}
.log-btn{
  padding: 14.5px 46px;
  border-radius: 20px;
  background: var(--hover-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--secondary-color);
  transition: all 0.4s ease;
  border: none;
  outline: none;
}
.log-btn::after,
.log-btn::before{
  position: absolute;
  content: '';
  top: 0;
  width: 51%;
  height: 100%;
  background: var(--secondary-color);
  transition: all 0.4s ease;
  z-index: -1;
}
.log-btn::after{
  right: -51%;
}
.log-btn::before{
  left: -51%;
}
.log-btn:hover::after{
  right: 0;
}
.log-btn:hover::before{
  left: 0;
}
.log-btn:hover {
  color: var(--hover-color);
}
.log-modal-btn{
  padding: 14.5px 68.5px;
  background: var(--hover-color);
  color: var(--secondary-color);
  border-radius: 20ex;
  position: relative;
  border: 0;
  outline: 0;
  overflow: hidden;
  z-index: 1;
}
.log-modal-btn::after,
.log-modal-btn::before{
  content: '';
  width: 51%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.4s ease;
  z-index: -1;
  background: var(--secondary-color);
  border: none;
  outline:  none;
}
.log-modal-btn::after{
  right: -51%;
}
.log-modal-btn::before{
  left: -51%;
}
.log-modal-btn:hover::after{
  right: 0;
}
.log-modal-btn:hover::before{
  left: 0;
}
.log-modal-btn:hover{
  color: var(--hover-color);
  outline: 1px solid var(--hover-color) !important;
}
#sign-box{
  display: flex;
  width: 100%;
}
/* #sign-box .left-modal,
#sign-box .right-modal,
#sign-box .log-left-cont,
#sign-box .log-right-modal {
  display: none;
}
#sign-box.signup-active .left-modal,
#sign-box.signup-active .right-modal {
  display: block;
}
#sign-box.login-active .log-left-cont,
#sign-box.login-active .log-right-modal {
  display: block;
} */
.btn-cont{
  text-align: center;
  margin: 32px 0 0;
}
.input-cont-para {
  max-width: 271px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  margin-top: 24px;
}
.input-cont-para > p {
  margin-right: 8px;
  max-width: 216px;
}
.input-cont input:focus {
  border-color: #5b7cfa;
  box-shadow: 0 0 0 2px rgba(91, 124, 250, 0.2);
}
.btn-close{
  padding: 10px 10px;
}
.input-cont input:focus {
  border-color: #4f46e5;
}

/* Error message */
.error {
  color: #dc2626;
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
}
.dropdown-menu {
  background: var(--header-color);
}
.dropdown-item {
  color: var(--secondary-color);
}
.dropdown-divider {
  display: none;
}
/* .status {
  margin-top: 15px;
  font-weight: 600;
}

.open-link {
  color: #28a745;
} */



/*------------- START HERO ---------------------*/
/* banner-sec */
.banner-sec{
    background: linear-gradient(
    90deg,
    #2f6bff 0%,
    /* left dark blue */ #4f7dff 45%,
    /* middle */ #7fa0ff 100% /* right light blue */
  );
  padding: 80px 0 0;
}
.banner-container{
  margin-top: 200px;
}
.banner-cont{
  text-align: right;
}
.banner-cont>.title1{
  color: var(--secondary-color);
  margin-right: 40px;
}
.banner-cont>.blog-header{
  font-size: 32px;
  color: var(--secondary-color);
  margin-right: 110px;
}
.banner-img{
  max-width: 437px;
}
.banner-img>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ----------END HERO-------------- */
/* --------START CONTACT SECTION --------- */
.contact-heading {
  padding: 70px 0;
  text-align: center;
  max-width: 1320px;
  margin: 0 auto;
}
.hero{
  margin-top: 175px;
}
.contact-heading h2 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.contact-heading h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--hover-color);
  margin-bottom: 25px;
}
.contact-heading p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--text-color);
  max-width: 900px;
  margin: 0 auto 30px;
}

.contact-heading .details p {
  font-size: 14.5px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

/* --------- END CONTACT SECTION ----------- */

/*--------------------- START FORM+INFO SECTION  ----------------*/
.contact-area {
  padding: 70px 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: flex-start;
}

/* LEFT FORM */
.form-box .label {
  color: var(--hover-color);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 12px;
}

.form-box h3 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 35px;
}

.form-box form input[type="text"],
.form-box form input[type="email"] {
  width: 100%;
  height: 72px;
  padding: 0 20px;
  margin-bottom: 24px;
  font-size: 15px;
  outline: none;
}
.input-filed{
  border: 2px #7da2ff solid !important;
}
.form-box form input::placeholder {
  color: #000;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  margin: 10px 0 35px;
}
.checkbox>p{
  margin: 0;
}
.checkbox input {
  width: 20px;
  height: 20px;
  accent-color: var(--hover-color);
}
.field {
  margin-bottom: 14px;
}

.error {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 4px;
}


.input-filed.success-border:focus {
  border-color: green;
}

.form-box button {
  width: 280px;
  height: 64px;
  background: var(--hover-color);
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
.form-submit-btn{
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.form-submit-btn::before,
.form-submit-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
.form-submit-btn::before {
  left: -50%;
}
.form-submit-btn::after {
  right: -50%;
}
.form-submit-btn:hover::before {
  left: 0;
}
.form-submit-btn:hover::after {
  right: 0;
}
.form-submit-btn:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color) !important;
}

/* RIGHT INFO */
.info-box .label {
  color: var(--hover-color);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 12px;
  display: block;
}

.info-box h3 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 18px;
}

.info-box > p {
  font-size: 15px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 40px;
  max-width: 480px;
}
.info-box{
  max-width: 650px;
}

/* INFO ROW */
.info-row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.info-row i {
  width: 68px;
  height: 68px;
  background: var(--header-color);
  color: var(--secondary-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-row strong {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--hover-color);
  margin-bottom: 5px;
}

.info-row p {
  font-size: 15px;
  color: var(--primary-color);
}

/*------------- END FORM SECTION ---------------------*/

/* ------ START MAP SECTION -------- */

.map-section {
  width: 100%;
  height: 627px;
  margin: 0;
  padding: 70px 0;
}

.map-section iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* ------ END MAP SECTION -------- */

/* IMAGE CARDS SECTION */
.card-section {
  padding: 70px 0;
}
.image-cards {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 70px 0;
}

.img-card {
  position: relative;
  height: 500px;
  max-width: 426px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--secondary-color);
  /* margin: 0 10px; */
  transition: all ease 0.4s;
  margin: 0 auto;
  cursor: pointer;
}
.img-card::before {
  content: "";
  position: absolute; 
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.15),
    transparent
  );
}
.img-card .card-content {
  height: 84px;
  width: 406px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--secondary-color);
  text-align: center;
  margin: 10px;
}
.img-card:hover {
  transform: scale(1.03);
}

.img-card:hover::before {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.35),
    transparent
  );
}

.img-card:hover .card-content {
  transform: translateY(0);
}

.img-card h4 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.img-card p {
  font-size: 16px;
  opacity: 0.9;
}

/* --------- END IMAGE CARD SECTION ----- */

/* ======================= */

/* ======================= */

/* ------ START FOOTER SECTION-------------- */
.footer-sec {
  background: var(--primary-color);
  padding: 70px 0 0;
}
.footer-header {
  text-align: center;
  color: var(--header-color);
  font-size: 36px;
  font-weight: 500;
}
.footer-form {
  text-align: center;
  margin: 32px 0 155px;
}
.footer-form-cont {
  max-width: 774px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--secondary-color);
}
#email {
  border: none;
  outline: none;
  width: 570px;
  height: 76px;
  background: var(--secondary-color);
  border-radius: 20px;
  padding-left: 20px;
}
#submit {
  background: var(--hover-color);
  border: none;
  width: 184px;
  height: 70px;
  /* padding: 26px 64.5px; */
  border-radius: 19px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 5px 5px 5px 0;
}
#submit::before,
#submit::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
#submit::before {
  left: -50%;
}
#submit::after {
  right: -50%;
}
#submit:hover::before {
  left: 0;
}
#submit:hover::after {
  right: 0;
}
#submit:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.footer-social,
.footer-social > ul {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer-social > ul > li {
  margin-right: 21px;
}
.footer-social-link {
  font-size: 24px;
  color: var(--social-color);
  transition: 0.6s all linear;
}
.footer-social-link:hover {
  transform: translateY(-30%);
}
.footer-main-cont > p {
  color: var(--social-color);
  font-size: 12px;
   margin-bottom: 40px;
}
.footer-link {
  color: var(--social-color);
  font-size: 16px;
}
.footer-link:hover {
  color: var(--header-color);
}
.footer-cont-header {
  color: var(--hover-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer-cont > ul {
  padding: 0 !important;
}
.footer-cont > ul > li {
  margin-bottom: 8px;
}
.side-box {
  display: flex;
  align-items: center;
  color: var(--social-color);
}
.left-side>a {
  border-right: 1px solid var(--social-color);
  padding-right: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.right-side>a {
  margin-left: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.footer-low-img-cont {
  display: flex;
  align-items: center;
  max-width: 179px;
  margin-left: auto;
  margin-right: 30px;
}
.footer-lower-img {
  max-width: 35px;
  margin-right: 12px;
}
.footer-lower-img>a{
  width: 100%;
}
.footer-lower-img>a> img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-logo {
  max-width: 52px;
  margin-bottom: 40px;
}
.footer-logo > a {
  width: 100%;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* --------- END FOOTER SECTION ------------- */
/* ====================================
==================================== */

/* ======================= Start media screen ======================= */

@media screen and (max-width: 1349.98px) {
  /* ---------- START HEADER SECTION ------------ */
   .nav-item{
    margin: 0 10px;
  }
  .nav-top-link{
    font-size: 14px;
  }
  .social-link{
    font-size: 14px;
  }

  

  /* ---------- END HEADER SECTION ------------ */
  /* --------- START BANNER SECTION ----- */

  .hero-text h1 {
    font-size: 44px;
  }

  .hero-text h3 {
    font-size: 20px;
  }


  /* --------- END BANNER SECTION ----- */
  /* ------- START CONTACT SECTION-------- */
    .contact-heading {
    padding: 60px 20px;
  }

  .contact-heading h2 {
    font-size: 40px;
  }

  .contact-heading h3 {
    font-size: 28px;
  }

  /* ------- END CONTACT SECTION-------- */
  /* ---- START FORM SECTION ------------ */
    .contact-area {
    padding: 60px 20px;
  }

  .contact-grid {
    gap: 60px;
  }

  .form-box h3,
  .info-box h3 {
    font-size: 32px;
  }

  /* ---- END FORM SECTION ------------ */
  /* ------ START MAP SECTION ---------- */
    .map-section {
    height: 580px;
    padding: 60px 0;
  }

  /* ------ END MAP SECTION ---------- */
 /* ------ START CARD SECTION ------------- */
   .image-cards {
    justify-content: center;
    gap: 20px;
    padding: 65px 0;
   }

  .img-card .card-content {
    width: calc(100% - 20px);
    height: 80px;
  }

 /* ------ END CARD SECTION ------------- */
 /* -------- START FOOTER SECTION --------- */
   .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-main-cont {
    grid-column: span 2;
  }

  .footer-header {
    font-size: 32px;
  }

  .footer-form-cont {
    max-width: 700px;
  }


 /* -------- END FOOTER SECTION --------- */
}
/* ================================== */
@media screen and (max-width: 1200px) {
  /* ------ START HEADER SECTION----------- */
    #modal-email,
   #modal-password,
   #confirm-password,
   #address{
    width: 406px;
   }
   .input-cont{
    max-width: 406px;
    margin: 0 auto;
   }
   .btn-cont{
    margin-top: 32px;
   }
   .apple-btn,
   .google-btn{
    width: 170px;
   }
    .nav-location{
    margin-right: 10px;
    padding: 8px;
  }
  .nav-link{
    font-size: 14px;
  }
  .drop-link{
    font-size: 14px;
  }
  .nav-top-list>li{
    padding-right: 5px;
    margin-left: 5px;
  }
  .nav-logo{
    margin: 0;
  }
  .offcanvas>ul{
    margin: 0 0 0 10px;
  }
  .primary-btn{
    padding: 14px 24px;
  }
  #search{
    max-width: 196px;
  }
  .nav-form{
    margin-right: auto;
  }
 


  /* ------ END HEADER SECTION----------- */
  /* -------- START BANNER SECTION---------- */
  .hero {
    height: 60vh;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text h3 {
    font-size: 19px;
  }

  .hero-text p {
    font-size: 15px;
  }

  /* -------- END BANNER SECTION---------- */
  /* ------ START CONTACT SECTION------------ */
  .contact-heading {
    padding: 55px 20px;
  }

  .contact-heading h2 {
    font-size: 36px;
  }

  .contact-heading h3 {
    font-size: 26px;
  }

  .contact-heading p {
    font-size: 14.5px;
  }
  /* ------ END CONTACT SECTION------------ */
  /* ------- SATRT FORM SECTION ---------- */
  .contact-area {
    padding: 55px 20px;
  }

  .contact-grid {
    gap: 50px;
  }
  .form-box form input[type="text"], .form-box form input[type="email"] {
    height: 55px;
}

  .form-box h3,
  .info-box h3 {
    font-size: 30px;
  }

  .form-box form input {
    height: 68px;
  }
  .info-box > p {
    margin-bottom: 30px;
}
  /* ------- END FORM SECTION ---------- */
  /* ------- START MAP SECTION ---------- */
  .map-section {
    height: 520px;
    padding: 55px 0;
  }
  /* ------- END MAP SECTION ---------- */
  /* --------- START CARD SECTION --------- */
  .image-cards {
    justify-content: center;
    gap: 20px;
    padding: 55px 0;
  }

  .img-card .card-content{
    width: 94%;
  }

  .img-card h4 {
    font-size: 18px;
  }

  .img-card p {
    font-size: 15px;
  }
  /* --------- END  CARD SECTION --------- */
  /* ------ START FOOTER SECTION ------- */
  
  .col-20 {
    width: 50%;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  /* ------ END FOOTER SECTION ------- */
}
@media screen and (max-width:1100px){
   .nav-top-link > span {
    display: none;
  }
}
/* ================================== */
@media screen and (max-width: 991px) {
  /* ---------- START HEADER SECTION ----------- */
   .offcanvas {
    flex-direction: column;
    text-align: center;
    /* position: relative; */
    z-index: 99;
    background: var(--offcanvsbckground-color);
  }
  .banner-cont>.title1{
    margin: 0 auto;
  }
  .offcanvas-backdrop {
    z-index: 9;
  }
  .offcanvas .dropdown-menu {
    position: absolute;
    z-index: 999;
  }
  .title1{
    font-size: 50px;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--hover-color);
  }
  .offcanvas > ul {
    background: var(--offcanvsbckground-color);
    margin: 0 !important;
    height: auto;
    border-radius: 0;
  }

   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%232662fd' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
   .nav-link {
    margin: 0 0 10px;
  }
  .drop-link {
    margin: 0 0 10px;
  }
  .nav-item {
    margin: 0;
  }
  .nav-btn {
    text-align: center;
  }
  .nav-top-list>li{
    border: none;
  }
  .modal-dialog{
    flex-direction: column-reverse;
  }
  .nav-form{
    margin: 10px auto 0;
  }
  .modal-content{
    max-width: 600px;
    margin: 0 auto;
  }
  .right-modal{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
  }
  .left-modal{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
  }
  .log-left-cont{
   border-top-left-radius: 20px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
}
.log-right-modal{
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0;
}
  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  .primary-btn{
    margin-top: 10px;
  }
  /* ---------- END HEADER SECTION ----------- */
  /* ------------ START BANNER SECTION---- */
  .banner-cont>.title1{
  text-align: center;
 }
 .banner-cont>.blog-header{
  margin: 0;
 }
 .banner-cont{
  text-align: center;
 }
 .banner-img{
  max-width: 100%;
  margin: 0 auto;
 }
 .banner-img>img{
  object-fit: cover;
 }
    .hero {
    height: 55vh;
  }
  .hero-text{
    text-align: center;
  }


  .hero-text h1 {
    font-size: 34px;
  }

  .hero-text h3 {
    font-size: 18px;
  }

  .hero-text p {
    font-size: 14px;
  }

  /* ------------ END BANNER SECTION---- */
  /* ------- START CONTACT SECTION ----------- */
  .contact-heading {
    padding: 45px 15px;
  }

  .contact-heading h2 {
    font-size: 32px;
  }

  .contact-heading h3 {
    font-size: 24px;
  }

  .contact-heading p {
    font-size: 14px;
    line-height: 1.7;
  }
  /* ------- START CONTACT SECTION ----------- */
  /* ----- START FORM SECTION ----------- */
  .contact-area {
    padding: 45px 15px;
 }
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .form-box .label{
    text-align: center;
  }
  .form-box form input[type="text"], .form-box form input[type="email"] {
    height: 55px;
  }

  .form-box h3,
  .info-box h3 {
    font-size: 26px;
    text-align: center;
  }
  .info-box{
    margin: 0 auto;
  }
  .info-box .label{
    text-align: center;
  }
  .info-box > p {
    text-align: center;
    margin-bottom: 20px;
    max-width: 950px;
}
  .form-box button {
    width: 200px;
    height: 55px;
  }
  .checkbox{
    max-width: 350px;
    margin: 0 auto;
  }
  .form-box button{
    margin: 20px auto;
  }
  .contact-form{
    text-align: center;
  }
  .info-row{
    max-width: 360px;
    margin: 10px auto;
  }

  /* ----- END  FORM SECTION ----------- */
  /* ----- START MAP SECTION ------ */
    .map-section {
    height: 460px;
    padding: 45px 0;
  }

  /* ----- END MAP SECTION ------ */
  /* -------- START CARD SECTION ----------- */
    .image-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 45px 0;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
  .img-card .card-content {
    height: 78px;
    width: 94%;
  }

  /* -------- END CARD SECTION ----------- */
  /* ------ START FOOTER SECTION ------ */
.footer-form-cont {
    max-width: 710px;
  }
   #submit {
    margin-left: auto;
  }
  #email {
    width: 500px;
    margin-right: auto;
  }
  .col-20 {
    width: 50%;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .view-btn {
    position: relative;
    z-index: 1;
  }
  #submit {
    z-index: 1;
  }
  /* ------ END FOOTER SECTION ------ */
}
/* ================================== */
@media screen  and (max-width: 768px) {
  /* ------- START HEADER SECTION ---------- */
  
 
  /* ------- END HEADER SECTION ---------- */
  /* ----- START BANNER SECTION ----------- */
  .hero {
    height: 50vh;
  }
  .hero-text{
    text-align: center;
  }
  .title1{
    font-size: 38px;
  }
  .banner-cont>.blog-header{
    font-size: 24px;
  }
  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text h3 {
    font-size: 16px;
  }

  .hero-text p {
    font-size: 13px;
    padding: 0px;
  }
  /* ----- END BANNER SECTION ----------- */
  /* ----- START CONTACT SECTION ------------- */
  .contact-heading {
    padding: 35px 15px;
  }

  .contact-heading h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .contact-heading h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .contact-heading p {
    font-size: 13.5px;
    line-height: 1.6;
  }

  .contact-heading .details p {
    font-size: 13px;
  }
  /* ----- END CONTACT SECTION ------------- */
  /* ----- START FORM SECTION------ */
    .contact-area {
    padding: 35px 15px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .form-box .label{
    text-align: center;
  }
  .form-box h3,
  .info-box h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }
  .info-box .label{
    text-align: center;
  }
  .form-box button {
    width: 250px;
    height: 55px;
  }
  

  .form-box form input {
    height: 30px;
    font-size: 14px;
}
  .form-box form input[type="text"], .form-box form input[type="email"] {
    width: 100%;
    height: 55px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.info-box > p {
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 760px;
    text-align: center;
}

 

  .info-row {
    gap: 20px;
  }

  .info-row i {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }

  /* ----- END  FORM SECTION------ */
  /* ----- START MAP SECTION ---------- */
  .map-section {
    height: 400px;
    padding: 35px 0;
  }
  /* ----- END MAP SECTION ---------- */
  /* ------- START CARD SECTION ---------- */
  .card-section {
    padding: 35px 0;
  }
  .image-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
   .img-card:hover {
    transform: none;
   }
  .col-12 {
    /* margin-bottom: 20px; */
 }
  .img-card .card-content {
    width: 95%;
  }

  .img-card h4 {
    font-size: 17px;
  }

  .img-card p {
    font-size: 14px;
  }
  /* ------- END CARD SECTION ---------- */
  /* --------- START FOOTER SECTION ------- */
  .footer-form-cont {
    max-width: 560px;
  }
  .approach-col{
    padding: 0 15px;
  }
  #submit {
    margin-left: auto;
    width: 150px;
  }
  #email {
    width: 400px;
    margin-right: auto;
    height: 70px;
  }
  .col-20 {
    width: 100%;
  }
  .footer-cont {
    text-align: center;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-low-img-cont {
    margin: 0 auto;
  }
  .footer-cont > ul > li > a {
    text-align: center;
  }
  .footer-header {
    font-size: 28px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
  .footer-logo {
    margin: 0 auto 19px;
  }
  /* .footer-cont-header{
   max-width: 170px;
   margin: 0 auto;
  } */
  /* .footer-cont>u>li{
    text-align: center;
  } */
  .footer-cont > ul {
    padding: 0;
  }
    .footer-cont > ul {
    padding: 0;
  }
/* --------- START FOOTER SECTION ------- */
}
/* ================================== */
@media screen and (max-width: 576px) {
  /* ------- START HEADER SECTION ---------- */
    .nav-logo{
    max-width: 30px;
  }
 .navbar-toggler-icon {
    width: 25px !important;
    color: var(--btn-color) !important;
  }
  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  .app-sub-img {
    max-width: 130px;
  }
  .app-box {
    flex-direction: column;
  }
  .play-img {
    margin: 0 auto 10px;
  }
  .apple-img {
    margin: 0 auto;
  }
  .modal-content {
    max-width: 400px;
    height: 580px;
    margin: 0 auto;
  }
  #modal-email {
    max-width: 250px;
    margin-bottom: 10px;
  }
  #modal-password {
    max-width: 250px;
    margin-bottom: 10px;
  }
   #confirm-password {
    max-width: 250px;
    margin-bottom: 10px;
  }
   #address {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .modal-btn {
    padding: 16px 26px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .input-cont {
    max-width: 260px;
  }
  .input-cont-para > p {
    font-size: 14px;
    margin: 0 auto;
  }
  .log-btn {
    font-size: 14px;
  }
  .apple-btn {
    width: 120px;
    height: 45px;
  }
  .google-btn {
    width: 120px;
    height: 45px;
  }
  .apple-img {
    margin: 0 10px 0 0;
  }
  /* .btn-cont {
    max-width: 255px !important;
  } */
  .input-cont-para {
    margin-top: 10px;
  }
  .modal-col{
    margin: 0;
  }
 
  /* ------- END HEADER SECTION ---------- */
  /* --------- START BANNER SECTION -------- */
   .title1{
    font-size: 26px;
  }
  .banner-cont>.blog-header{
    font-size: 18px;
  }
  .hero {
    height: 45vh;
    margin-top: 150px;
  }
  .hero-text{
    text-align: center;
  }

  .hero-text h1 {
    font-size: 24px;
  }

  .hero-text h3 {
    font-size: 15px;
  }

  .hero-text p {
    font-size: 12px;
    padding: 0px;
  }
  /* --------- END BANNER SECTION -------- */
  /* ----- START CONTACT SECTION ------- */
  .contact-heading {
    padding: 30px 15px;
  }

  .contact-heading h2 {
    font-size: 24px;
  }

  .contact-heading h3 {
    font-size: 20px;
  }

  .contact-heading p {
    font-size: 13px;
    line-height: 1.6;
  }

  .contact-heading .details p {
    font-size: 12.5px;
  }

  /* ----- END CONTACT SECTION ------- */
  /* ------ START FORM SECTION------ */
  .contact-area {
    padding: 30px 15px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 45px;
  }
  .form-box .label{
    text-align: center;
  }

  .form-box h3,
  .info-box h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
  }

  .form-box form input {
    height: 58px;
    font-size: 13px;
  }
  .form-box form input[type="text"], .form-box form input[type="email"] {
    height: 45px;
    padding: 0 10px;
    margin-bottom: 20px;
    
}


  .checkbox {
    font-size: 13px;
    margin: 10px auto 15px;
    display: flex;
    align-items: center;
    max-width: 280px;
  }
  .checkbox>p{
    margin: 0;
    font-size: 12px;
  }
  .checkbox input {
    width: 18px;
    height: 18px;
  }

  .form-box button {
    width: 110px;
    height: 47px;
    font-size: 14px;
    font-size: 12px;
}
.info-row p{
  font-size: 12px;
}
.info-row strong {
  font-size: 16px;
}

  /* ------ START FORM SECTION------ */
  /* --------- START MAP SECTION ------- */
  .map-section {
    height: 320px;
    padding: 30px 0;
  }
  /* --------- START MAP SECTION ------- */
  /* ------- START CARD SECTION ---------- */
  .card-section {
    padding: 30px 0;
}
  .image-cards {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 45px 0;
  }
  .img-card:hover {
    transform: none;
   }
  
  .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
 .card-wraper{
  width: 100%;
 }
  .img-card {
    max-width: 100%;
    height: 360px;
    margin: 0;
  }

  .img-card .card-content {
    height: 72px;
    width: 93%;
  }

  .img-card h4 {
    font-size: 16px;
  }

  .img-card p {
    font-size: 13px;
  }


  /* ------- END CARD SECTION ---------- */
  /* --------- START FOOTER SECTION --------- */
  #submit {
    margin-left: auto;
    width: 100px;
    font-size: 12px;
  }
  .estimate-sec {
    height: 170vh;
  }
  #email {
    width: 250px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
  /* --------- END FOOTER SECTION --------- */
}
/* ================================== */
/* ================================== */
/* ================================== */
/* ================================== */

@media screen and (max-width: 480px) {
  .social-list > li {
    margin: 0 2px;
  }
  .nav-top {
    margin: 0 auto;
  }
  .nav-top-list > li {
    margin-right: 5px;
  }
  .electric-img {
    max-width: 300px;
    margin: 0 auto;
  }
  .electric-sub-img {
    max-width: 200px;
    left: -6%;
    bottom: -155px;
  }
  .electric-sec {
    height: 155vh;
    height: auto;
  }
  .top-corner {
    top: 54.6%;
    right: 88%;
    /* box-shadow: 0 -15px 0 black; */
  }
  .bottom-corner {
    top: 71.5%;
    left: 60%;
    /* box-shadow: 0 -15px 0 black; */
  }
}
@media screen and (max-width: 400px) {
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 24px;
  }
  .title4 {
    font-size: 12px;
  }
  .electric-img {
    max-width: 250px;
  }
  .electric-sub-img {
    max-width: 150px;
    bottom: -110px;
    left: 1%;
  }
  .estimate-sec {
    height: 150vh;
  }
  #submit {
    width: 90px;
  }
  #email {
    width: 230px;
  }
}
@media screen and (max-width: 360px) {
  #submit {
    margin-left: auto;
    width: 90px;
  }
  #email {
    width: 190px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 310px;
  }
  .left-side {
    font-size: 12px;
  }
  .right-side {
    font-size: 12px;
  }
  .side-box {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .checkbox>p{
    font-size: 10px;
  }
  .checkbox{
    max-width: 240px;
  }
  .info-row p{
  font-size: 10px;
}
.info-row strong {
  font-size: 16px;
}

}

