@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #242424;
  --pagination-color: #424242;
  --border-color: #ffcc00;
  --back-ground-color: #ffbc44;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #141414;
  --email-background-color: #F4F0F0;
  --social-color: #999999;
  --btn-color: #ccdaff;
  --slider-color: #ffbf00;
  --offcanvsbckground-color: #c3d4ff;
  --figma-blue-50: #8fb1fe;
  --review-color: #d9d9d9;
  --review-background-color: #ffbc44;
   --card-color:#dde6ff;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
}
body,
html {
  overflow-x: hidden;
}
.nav-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.footer-row {
  border-top: 1px solid var(--social-color);
  margin-top: 70px;
}
.footer-col {
  margin: 28px 0;
}
.col-20 {
  width: 20%;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-50 {
  padding: 0 15px;
  width: 50%;
}
.col-60 {
  padding: 0 15px;
  width: 60%;
}
.col-25 {
  padding: 0 15px;
  width: 25%;
}

.col-33 {
  padding: 0 15px;
  width: 33.33%;
}
/* title */
.title1{
  font-size: 64px;
}
.title2 {
  font-size: 55px;
  font-weight: 600;
}
.title4 {
  font-size: 24px;
  font-weight: 400;
}

/* ===header-section===  */



/* banner-sec */
.banner-sec{
  margin-bottom: -40px;
    background: linear-gradient(
    90deg,
    #2f6bff 0%,
    /* left dark blue */ #4f7dff 45%,
    /* middle */ #7fa0ff 100% /* right light blue */
  );
}
.banner-container{
  margin-top: 135px;
}
.banner-cont{
  text-align: right;
}
.banner-cont>.title1{
  color: var(--secondary-color);
  margin-right: 40px;
}
.banner-cont>.blog-header{
  font-size: 32px;
  color: var(--secondary-color);
  margin-right: 110px;
}
.banner-img{
  max-width: 527px;
}
.banner-img>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-sub-img{
  max-width: 431px;
  margin: 60px  0 0;
  height: 450px;
}
.banner-sub-img>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ===card-section */
.card-section {
  padding: 100px 0 20px;
  background: var(--card-color);
}
.card {
  margin-bottom: 50px;
  max-width: 600px;
  height: 450px;
  border: none;
  background: var(--card-color);
  cursor: pointer;
  margin: 0 0 50px;
}
.card-img {
  max-width: 648px;
  height: 363px;
  position: relative;
   margin-bottom: 30px;
}
.card-img>a{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-img>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px;
  margin-bottom: 30px;
}
.card-arrow {
  width: 48px;
  height: 48px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
}
.card-arrow > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card > h6 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.card > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--pagination-color);
}
.card-img-1 {
  max-width: 648px;
  height: 430px;
  position: relative;
  margin-bottom: 30px !important;
}
.card-img-1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px;
}

/* quote-sec */
.quote-sec {
  background: var(--header-color);
  padding: 100px 0;
}
.quote-header > .title4 {
  color: var(--pagination-color);
  margin: 10px 0 50px;
}
.quote-input {
  width: 424px;
  display: block;
  height: 70px;
  border-radius: 21px;
  border: none;
  padding: 0 0 0 24px;
  margin: 0 auto 10px;
}
.btn-secondary {
  width: 424px;
  height: 70px;
  display: block;
  border-radius: 21px;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: left;
  padding: 0 0 0 24px;
  border: none;
  color: var(--primary-color);
  margin: 0 auto 10px;
}
.btn-secondary::after {
  width: 0;
  border: 0;
}
.estimate-btn {
  width: 424px;
  height: 70px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  background: var(--back-ground-color);
  color: var(--primary-color);
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto 10px;
}
.estimate-btn::after,
.estimate-btn::before {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  top: 0;
  height: 100%;
  width: 51%;
  z-index: -1;
  transition: 0.4s all ease;
}
.estimate-btn::after {
  right: -51%;
}
.estimate-btn::before {
  left: -51%;
}
.estimate-btn:hover::after {
  right: 0;
}
.estimate-btn:hover::before {
  left: 0;
}
.drop-icon {
  margin-left: 135px;
}
.drop-list{
  width: 300px !important;
  background: var(--back-ground-color) !important;
  text-align: center;
}
/* ===best-section=== */
.best-section {
 padding: 100px 0;
 background: var(--card-color);
}
.best-top-section {
  text-align: center;
  margin-bottom: 50px;
}
.best-top-section > h2 {
  font-size: 55px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.best-top-section > h2 > span {
  color: var(--hover-color);
}
.best-top-section > p {
  font-size: 24px;
  font-weight: 400;
  color: var(--pagination-color);
}
.best-card {
  max-width: 423px;
  height: 300px;
  background: var(--offcanvsbckground-color);
  border-radius: 16px;
  padding: 36px;
}
.best-card-img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.best-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.best-card > h6 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-top: 40px;
}
.best-card > p {
  max-width: 416px;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
}
/* slider-sec */
.slider-sec{
  /* padding: 0 0 50px; */
  background: var(--card-color);
}
.slider-header{
  text-align: center;
}
.slider-header>.title2>span{
  color: var(--hover-color);
}
.slider-header>.title4{
  color: var(--pagination-color);
  margin: 15px 0 50px;
}
.swiper {
  max-width: 100%;
  height: 550px;
}
.swiper-slide{
  max-width: 648px;
  height: 100%;
}
/* footer-sec */
.footer-sec {
  background: var(--primary-color);
  padding: 70px 0 30px;
}
.footer-header {
  text-align: center;
  color: var(--header-color);
  font-size: 36px;
  font-weight: 500;
}
.footer-form {
  text-align: center;
  margin: 32px 0 70px;
}
.footer-form-cont {
  max-width: 774px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--secondary-color);
}
#email {
  border: none;
  outline: none;
  width: 570px;
  height: 76px;
  background: var(--secondary-color);
  border-radius: 20px;
  padding-left: 20px;
}
#submit {
  background: var(--hover-color);
  border: none;
  width: 184px;
  height: 70px;
  /* padding: 26px 64.5px; */
  border-radius: 19px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 5px 5px 5px 0;
}
#submit::before,
#submit::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
#submit::before {
  left: -50%;
}
#submit::after {
  right: -50%;
}
#submit:hover::before {
  left: 0;
}
#submit:hover::after {
  right: 0;
}
#submit:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.footer-social,
.footer-social > ul {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer-social > ul > li {
  margin-right: 21px;
}
.footer-social-link {
  font-size: 24px;
  color: var(--social-color);
  transition: 0.6s all linear;
}
.footer-social-link:hover {
  transform: translateY(-30%);
}
.footer-main-cont > p {
  color: var(--social-color);
  font-size: 12px;
  margin-bottom: 40px;
}
.footer-link {
  color: var(--social-color);
  font-size: 16px;
}
.footer-link:hover {
  color: var(--header-color);
}
.footer-cont-header {
  color: var(--hover-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer-cont > ul > li {
  margin-bottom: 8px;
}
.side-box {
  display: flex;
  align-items: center;
  color: var(--social-color);
}
.left-side > a {
  border-right: 1px solid var(--social-color);
  padding-right: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.right-side > a {
  margin-left: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.footer-low-img-cont {
  display: flex;
  align-items: center;
  max-width: 179px;
  margin-left: auto;
  margin-right: 30px;
}
.footer-lower-img {
  max-width: 35px;
  margin-right: 12px;
}
.footer-lower-img > a {
  width: 100%;
}
.footer-lower-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-logo {
  max-width: 52px;
  margin-bottom: 40px;
}
.footer-logo > a {
  width: 100%;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mail-list{
  width: 350px;
}
@media screen and (max-width: 1330px) {
  .card > h6 {
    font-size: 20px;
  }
  .card-img-1 {
    max-width: 648px;
    height: 400px;
  }
  .quote-input {
    max-width: 100%;
  }
  .btn-secondary {
    max-width: 100%;
  }
  .estimate-btn {
    max-width: 100%;
  }
   .nav-form{
    margin-right: auto;
  }
  .nav-item{
    margin: 0 10px;
  }
 
  .nav-top-link{
    font-size: 14px;
  }
  .social-link{
    font-size: 14px;
  }
    #modal-email,
   #modal-password,
   #confirm-password,
   #address{
    width: 406px;
   }
   .input-cont{
    max-width: 406px;
    margin: 0 auto;
   }
   .btn-cont{
    margin-top: 32px;
   }
   .apple-btn,
   .google-btn{
    width: 170px;
   }
    .nav-location{
    margin-right: 10px;
    padding: 8px;
  }
  .nav-link{
    font-size: 14px;
  }
  .drop-link{
    font-size: 14px;
  }
  .nav-top-list>li{
    padding-right: 5px;
    margin-left: 5px;
  }
  .nav-logo{
    margin: 0;
  }
  .offcanvas>ul{
    margin: 0 0 0 10px;
  }
  .primary-btn{
    padding: 14px 24px;
  }
  #search{
    max-width: 196px;
  }
}
@media screen and (max-width: 1200px) {
  .card-img-1 {
    height: 380px;
  }
  .drop-icon{
    margin-left: auto;
  }
  .banner-cont>.title1{
    margin: 0;
  }
 .title1{
  font-size: 50px;
 }

  .banner-sub-img{
    height: auto;
  }
  .banner-cont>.blog-header{
    margin-right: 30px;
  }
  .nav-top-link>span{
    display: none;
  }
   .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
     .col-20 {
    width: 50%;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1100px) {
  .card-img-1 {
    height: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .card-img-1 {
    height: 320px;
  }
  .best-card > h6 {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 950px) {
  .card-img-1 {
    height: 290px;
  }
}
@media screen and (max-width: 991px) {
  .card-img-1 {
    height: 270px;
  }
  .card{
    height: auto;
  }
  .card-img{
    /* height: auto; */
  }
  .quote-header{
    text-align: center;
  }
  .title1{
    font-size: 50px;
  }
  .title2{
    font-size: 40px;
  }
  .title4{
    font-size: 18px;
  }
 .card{
  text-align: center;
 }
 .banner-cont>.title1{
  text-align: center;
 }
 .banner-cont>.blog-header{
  margin: 0;
 }
 .banner-cont{
  text-align: center;
 }
 .banner-img{
  max-width: 100%;
  margin: 0 auto;
 }
 .banner-img>img{
  object-fit: cover;
 }
 .banner-sub-img{
  margin: 70px auto 0;
  max-width: 100%;
 }
  .header-sec {
    padding: 15px 0;
  }
  .offcanvas {
    flex-direction: column;
    text-align: center;
    /* position: relative; */
    z-index: 99;
    background: var(--offcanvsbckground-color);
  }
  .offcanvas-backdrop {
    z-index: 9;
  }
  .offcanvas .dropdown-menu {
    position: absolute;
    z-index: 999;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--hover-color);
  }
  .offcanvas > ul {
    background: var(--offcanvsbckground-color);
    margin: 0 !important;
    height: auto;
    border-radius: 0;
  }
  .nav-link {
    margin: 0 0 10px;
  }
  .drop-link {
    margin: 0 0 10px;
  }
  .nav-item {
    margin: 0;
  }
  .nav-btn {
    text-align: center;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%232662fd' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .nav-top-list>li{
    border: none;
  }
  .nav-form{
    margin: 10px auto 0;
  }
  .modal-dialog{
    flex-direction: column-reverse;
    align-items: center;
  }
  .modal-content{
    max-width: 600px;
  }
  .right-modal{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
  }
  .left-modal{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
  }
  .log-left-cont{
   border-top-left-radius: 20px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
}
.log-right-modal{
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0;
}
.primary-btn {
    margin: 10px 0;
  }
   .footer-form-cont {
    max-width: 710px;
  }
  #submit {
    margin-left: auto;
  }
  #email {
    width: 500px;
    margin-right: auto;
  }
  .col-20 {
    width: 50%;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 850px) {
  .card-img-1 {
    height: 250px;
  }
  .best-card {
    padding: 20px;
  }
   .side-line {
    left: 100%;
  }
}
@media screen and (max-width: 850px) {
  .card-img-1 {
    height: 230px;
  }
  .card-arrow {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 800px) {
  .card-img-1 {
    height: 210px;
  }
}
@media screen and (max-width: 768px) {
  .best-card > p {
    font-size: 13px;
  }
  .estimate-btn {
   
  }
  .best-card-img{
    max-width: 70px;
  }
  .best-card-img>img{
    object-fit: contain;
  }
  .title2{
    font-size: 32px;
  }
  .card>h6{
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto 10px;
  }
  .card>p{
    font-size: 14px;
  }
  .social-list > li {
    margin: 0 5px;
  }
   #submit {
    margin-left: auto;
    width: 150px;
  }
  #email {
    width: 400px;
    margin-right: auto;
    height: 70px;
  }
  .col-20 {
    width: 100%;
  }
  .footer-logo{
    margin: 0 auto;
  }
  .footer-cont {
    text-align: center;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
  .slider-card-img {
    max-width: 150px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
  .footer-low-img-cont {
    margin: 0 auto;
  }
  .footer-header {
    font-size: 28px;
  }
  .choose-container {
    margin-top: 1450px;
  }
  .footer-cont {
    text-align: center;
    max-width: 500px;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
  .slider-card-img {
    max-width: 150px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
  .footer-low-img-cont {
    margin: 0 auto;
  }
  .mail-list{
  width: 350px;
  margin: 0 auto;
}
.contact-list{
  max-width: 500px;
}
}
@media screen and (max-width: 1040px) {
  .haeder-top-wrpr-inr {
    flex-direction: column;
  }
  .header-top-rhgt {
    margin: 5px;
  }
  .hdr-top-list > li {
    margin: 5px;
  }
}
@media screen and (max-width: 650px) {
  .hdr-top-list > li {
    margin: 5px;
  }
  .hdr-map > img {
    width: 18px;
    height: 17px;
    object-fit: cover;
  }
  .hdr-map > span {
    font-size: 12px;
    padding-left: 8px;
  }
  .hdr-email > img {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
  .hdr-email > span {
    font-size: 12px;
    padding-left: 8px;
  }
  .hdr-calender > img {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
  .hdr-calender > span {
    font-size: 12px;
    padding-left: 8px;
  }
  .header-top-rhgt > span {
    font-size: 12px;
  }
  .header-top-rhgt {
    margin: 5px;
  }
  .hdr-top-list-1 > li > a > img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .hdr-top-list-1 > li {
    margin-left: 10px;
  }
  .col-50 {
    width: 100%;
  }
  .card-img-1 {
    height: 280px;
  }
  .col-33 {
    width: 100%;
  }
  .best-card {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .best-card > p {
    margin: 0 auto;
  }
    #email {
    width: 240px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
  #submit {
    margin-left: auto;
    width: 90px;
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .card-arrow {
    width: 30px;
    height: 30px;
  }
  .best-top-section > h2 {
    font-size: 40px;
  }
  .best-top-section > p {
    font-size: 18px;
  }
  .card-section {
    padding-top: 50px;
  }
  .card-img{
    height: auto;
  }
  .best-section {
    padding-top: 50px;
  }
  .title1{
    font-size: 35px;
  }
  .title2{
    font-size: 26px;
  }
  .title4{
    font-size: 14px;
  }
  .modal-dialog{
    flex-direction: column-reverse;
  }
  .modal-content {
    max-width: 400px;
    height: 580px;
    margin: 0 auto;
  }
  #modal-email {
    max-width: 250px;
    margin-bottom: 10px;
  }
  #modal-password {
    max-width: 250px;
    margin-bottom: 10px;
  }
   #confirm-password {
    max-width: 250px;
    margin-bottom: 10px;
  }
   #address {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .modal-btn {
    padding: 16px 26px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .input-cont {
    max-width: 260px;
  }
  .input-cont-para > p {
    font-size: 14px;
    margin: 0 auto;
  }
  .log-btn {
    font-size: 14px;
  }
  .apple-btn {
    width: 120px;
    height: 45px;
  }
  .google-btn {
    width: 120px;
    height: 45px;
  }
  .apple-img {
    margin: 0 10px 0 0;
  }
  /* .btn-cont {
    max-width: 255px !important;
  } */
  .input-cont-para {
    margin-top: 10px;
  }
  .stars > i {
    font-size: 15px;
  }
  .accordion {
    height: 500px;
  }
   #submit {
    margin-left: auto;
    width: 100px;
    font-size: 12px;
  }
  #email {
    width: 250px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
  .footer-header {
    font-size: 24px;
  }
   .footer-link{
    font-size: 12px;
  }
}
@media screen and (max-width:420px){
   .title1{
    font-size: 28px;
  }
    #submit {
    width: 90px;
  }
  #email {
    width: 230px;
  }
}
@media screen and (max-width: 380px) {
  .best-top-section > h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 360px) {
  .background-circle {
    left: 25%;
  }
  .play-btn {
    margin-left: 10px;
  }
  #submit {
    margin-left: auto;
    width: 90px;
  }
  #email {
    width: 190px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 310px;
  }
  .choose-container {
    margin-top: 1300px;
    position: relative;
    z-index: 2;
    background: var(--secondary-color);
  }
  .choose-card {
    background: var(--secondary-color);
  }
  .choose-container {
    margin-top: 1100px;
  }
  .left-side {
    font-size: 12px;
  }
  .right-side {
    font-size: 12px;
  }
  .side-box {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}

