@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #242424;
  --sub-title-color:#424242;
  --border-color: #ffcc00;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #262626;
  --email-background-color: #c8c8c8;
  --social-color: #999999;
  --header-color: #80a3ff;
  --offcanvsbckground-color: #c3d4ff;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: static;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
.col-20 {
  width: 20%;
  padding: 0 15px;
}
.approach-col {
  padding: 0;
}
.footer-row {
  border-top: 1px solid var(--social-color);
  margin-top: 70px;
}
.modal-row{
  flex-direction: row !important;
}
.footer-col {
  margin: 28px 0;
}
.approach-col {
  /* margin-top: auto; */
}
/* title */
.title1 {
  font-size: 72px;
  font-weight: 600;
  text-transform: capitalize;
}
.title2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}
.title3 {
  font-size: 32px;
  font-weight: 600;
}
.title4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}


/* banner-sec */
.banner-sec {
  padding: 100px 0;
  background: linear-gradient(
    90deg,
    #2f6bff 0%,
    /* left dark blue */ #4f7dff 45%,
    /* middle */ #7fa0ff 100% /* right light blue */
  );
}
.banner-container {
  margin-top: 150px;
}
.banner-cont {
  text-align: center;
  color: var(--secondary-color);
}
.banner-cont > .title1 {
  color: var(--secondary-color);
  max-width: 1260px;
  margin: 0 auto;
}
.banner-cont>.title1>span{
  color: var(--border-color);
}
/* approach-sec */
.approach-sec {
  padding: 100px 0 0;
}
.approach-sub-img {
  max-width: 309px;
  height: 328px;
  border-radius: 16px;
  position: relative;
}
.approach-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
   position: relative;
  transition: all 0.7s;
  overflow: hidden;
}
.approach-sub-img:hover img{
  transform: scale(1.05);
}
.approach-img {
  max-width: 648px;
  border-radius: 20px;
  overflow: hidden;
}
.approach-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
   object-fit: cover;
   position: relative;
  transition: all 0.7s;
  overflow: hidden;
}
.approach-img:hover img{
  transform: scale(1.05);
}
.approach-box {
  display: flex;
}
.approach-card {
  max-width: 315px;
  height: 328px;
  margin-right: 21px;
  border-radius: 16px;
   position: relative;
  transition: all 0.35s ease;
}
.approach-card:hover{
  transform: translateY(-12px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.card-img {
  max-width: 81px;
  margin: 14px auto 18px;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-body {
  max-width: 400px;
  padding: 12px 24px;
}
.card-title {
  font-size: 24px;
  font-weight: 500;
  max-width: 270px;
  margin: 0;
}
.card-main-body{
  padding: 0 15px 12px;
}
.card-main-title{
  font-size: 32px;
  font-weight: 500;
  max-width: 270px;
  margin: 0;
}
.card-text{
  font-size: 16px;
}
.card-cont-img {
  max-width: 37.5px;
}
.card-cont-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-sub-body {
  padding: 14px 24px;
}
.approach-sub-card {
  max-width: 312px;
  height: 315px;
  margin-right: 24px;
  border-radius: 16px !important;
   position: relative;
  transition: all 0.35s ease;
}
.card-sub-text{
  font-size: 16px;
}
.approach-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.approach-card:hover::after {
  border-color: var(--hover-color);
}
.approach-sub-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.approach-sub-card:hover{
  transform: translateY(-12px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.approach-sub-card:hover::after {
  border-color: var(--hover-color);
}
.approach-cont > .title2 {
  margin: 8px 0 16px;
  text-transform: capitalize;
}
.approach-cont {
  margin-bottom: 40px;
  /* max-width: 645px;
    margin-left: auto; */
}
.approach-cont > p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}
.approach-cont>.title4{
  text-transform: uppercase;
}
.approach-cont > .title2 > span {
  color: var(--hover-color);
}
/* electric-sec */
.electric-sec {
  padding: 100px 0;
}
.electric-header {
  max-width: 672px;
  margin-bottom: 71px;
}
.electric-header > .title2 > span {
  color: var(--hover-color);
}
.electric-card {
  max-width: 601px;
  height: 320px;
  margin-bottom: 32px;
  transition: 0.3s ease;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2), 0px 15px 40px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  border: none;
}
.electric-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.28),
    0px 20px 50px rgba(0, 0, 0, 0.18);
}
.electric-card-img {
  max-width: 71px;
}
.electric-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-para {
  font-size: 16px;
  font-weight: 400;
  margin: 14px 0 20px;
}
.card-box {
  max-width: 541px;
  padding: 27.5px 30px;
}
.electic-img-wraper{
  position: relative;
}
.electric-img {
  max-width: 558px;
  position: relative;
  margin-left: auto;
  height: 512px;
  /* overflow: hidden; */
}
.electric-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.electric-sub-img {
  max-width: 454px;
  height: 540px;
  position: absolute;
 bottom: -390px;
  left: -105px;
  /* border: 16px solid var(--secondary-color);
  border-radius: 25px; */
}
.electric-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 14px;
}
.top-corner {
  position: absolute;
  background: transparent;
  height: 30px;
  width: 30px;
  border-top-left-radius: 14px;
  box-shadow: 0 -15px 0 white;
  transform: rotate(-90deg);
  top: 64.4%;
  right: 93.8%;
  z-index: 2;
}
.bottom-corner {
  position: absolute;
  background: transparent;
  height: 30px;
  width: 30px;
  border-top-left-radius: 14px;
  box-shadow: 0 -15px 0 white;
  transform: rotate(-90deg);
  top: 84.6%;
  left: 62.8%;
  z-index: 2;
}
.electric-col {
  margin-bottom: auto;
}
.electric-card-title {
  font-size: 32px;
  color: var(--hover-color);
  font-weight: 500;
}
/* estimate-sec */
.estimate-sec {
  padding: 100px 0 100px;
  background: var(--offcanvsbckground-color);
}
.estimate-wraper {
  padding: 0 10px;
}
.estimate-conatiner {
  /* border-radius: 16px; */
  background: var(--offcanvsbckground-color);
}
.estimate-cont{
  max-width: 600px;
}
.estimate-cont > .title4 {
  margin-top: 25px;
  text-transform: uppercase;
}
.estimate-cont > .title2 > span {
  color: var(--hover-color);
}
.estimate-cont > .title2 {
  margin: 8px 0 24px;
  text-transform: capitalize;
}
.estimate-cont > .title2 > span {
  color: var();
}
.estimate-cont > p {
  margin-bottom: 61px;
}
.estimate-cont > ul {
  list-style-type: disc;
  padding: 0;
}
.estimate-list{
  list-style-type: none !important;
  margin: 24px 0 61px;
  padding: 0;
}
.estimate-list>li{
  margin: 8px 0;
}
.estimate-img {
  max-width: 538px;
  height: 534px;
  margin-bottom: 100px;
  position: relative;
}
.estimate-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
   transition: all 0.7s;
   overflow: hidden;
}
.estimate-img:hover img{
  transform: scale(1.05);
}
.estimate-img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(213, 225, 255, 0) 0%,
    #c3d4ff 100%
  );
  z-index: 1;
}
.estimate-sub-cont {
  text-align: center;
}
.estimate-sub-cont > .title2 {
  font-weight: 500;
  color: var(--hover-color);
}
.estimate-sub-img {
  max-width: 63px;
  margin: 0 auto;
}
.estimate-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* choose-sec */
.choose-sec {
  padding: 100px 0 78px;
}
.choose-cont {
  max-width: 607px;
}
.choose-cont > .title4 {
  margin: 8px 0 24px;
  color: var(--sub-title-color);
}
.choose-cont > .title2 > span {
  color: var(--hover-color);
}
.choose-cont > ul {
  margin: 50px 0 53px;
  list-style-type: disc;
}
.choose-img {
  max-width: 648px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.choose-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
   transition: all 0.7s;
   overflow: hidden;
}
.choose-img:hover img{
   transform: scale(1.05);
}
.view-btn {
  padding: 19px 34px;
  border-radius: 8px;
  background: var(--header-color);
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.view-btn::before,
.view-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--hover-color);
  z-index: -1;
  transition: 0.4s ease;
}
.view-btn::before {
  left: -50%;
}
.view-btn::after {
  right: -50%;
}
.view-btn:hover::before {
  left: 0;
}
.view-btn:hover::after {
  right: 0;
}
.view-btn:hover {
  color: var(--secondary-color);
}
/* footer-sec */
.footer-sec {
  background: var(--primary-color);
  padding: 70px 0 0;
}
.footer-header {
  text-align: center;
  color: var(--header-color);
  font-size: 36px;
  font-weight: 500;
}
.footer-form {
  text-align: center;
  margin: 32px 0 155px;
}
.footer-form-cont {
  max-width: 774px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--secondary-color);
}
#email {
  border: none;
  outline: none;
  width: 570px;
  height: 76px;
  background: var(--secondary-color);
  border-radius: 20px;
  padding-left: 20px;
}
#submit {
  background: var(--hover-color);
  border: none;
  width: 184px;
  height: 70px;
  /* padding: 26px 64.5px; */
  border-radius: 19px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 5px 5px 5px 0;
}
#submit::before,
#submit::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
#submit::before {
  left: -50%;
}
#submit::after {
  right: -50%;
}
#submit:hover::before {
  left: 0;
}
#submit:hover::after {
  right: 0;
}
#submit:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.footer-social,
.footer-social > ul {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer-social > ul > li {
  margin-right: 21px;
}
.footer-social-link {
  font-size: 24px;
  color: var(--social-color);
  transition: 0.6s all linear;
}
.footer-social-link:hover {
  transform: translateY(-30%);
}
.footer-main-cont > p {
  color: var(--social-color);
  font-size: 12px;
   margin-bottom: 40px;
}
.footer-link {
  color: var(--social-color);
  font-size: 16px;
}
.footer-link:hover {
  color: var(--header-color);
}
.footer-cont-header {
  color: var(--hover-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer-cont > ul {
  padding: 0 !important;
}
.footer-cont > ul > li {
  margin-bottom: 8px;
}
.side-box {
  display: flex;
  align-items: center;
  color: var(--social-color);
}
.left-side>a {
  border-right: 1px solid var(--social-color);
  padding-right: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.right-side>a {
  margin-left: 5px;
  font-size: 14px;
  color: var(--social-color);
}
.footer-low-img-cont {
  display: flex;
  align-items: center;
  max-width: 179px;
  margin-left: auto;
  margin-right: 30px;
}
.footer-lower-img {
  max-width: 35px;
  margin-right: 12px;
}
.footer-lower-img>a{
  width: 100%;
}
.footer-lower-img>a> img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-logo {
  max-width: 52px;
  margin-bottom: 40px;
}
.footer-logo > a {
  width: 100%;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mail-list{
  width: 350px;
}
/* media-quarry */
@media screen and (max-width: 1330px) {
  .electric-img {
    max-width: 450px;
  }
  .electric-sub-img {
    max-width: 350px;
    height: auto;
    left: -70px;
    bottom: -260px;
  }
   .nav-form{
    margin-right: auto;
  }
  .nav-item{
    margin: 0 10px;
  }
  .nav-top-link{
    font-size: 14px;
  }
  .social-link{
    font-size: 14px;
  }
  .follow-link{
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .card-title {
    font-size: 24px;
  }
  .card-main-title{
    font-size: 24px;
  }
  .card-text {
    font-size: 16px;
  }
  .card-cont-img {
    max-width: 50px;
  }
  .electric-card {
    max-width: 440px;
  }
  .nav-top-link > span {
    display: none;
  }
  .col-20 {
    width: 50%;
  }
  .nav-location{
    margin-right: 10px;
    padding: 8px;
  }
  .nav-link{
    font-size: 14px;
  }
  .drop-link{
    font-size: 14px;
  }
  .nav-top-list>li{
    padding-right: 5px;
    margin-left: 5px;
  }
  .nav-logo{
    margin: 0;
  }
   #modal-email,
   #modal-password,
   #confirm-password,
   #address{
    width: 406px;
   }
   .input-cont{
    max-width: 406px;
    margin: 0 auto;
   }
   .btn-cont{
    margin-top: 32px;
   }
   .apple-btn,
   .google-btn{
    width: 170px;
   }
  .card-text {
    margin: 10px 0 20px;
  }
  .offcanvas>ul{
    margin: 0 0 0 10px;
  }
  .primary-btn{
    padding: 14px 24px;
  }
  #search{
    max-width: 196px;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .card-para {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .title2 {
    font-size: 40px;
  }
  .title4 {
    font-size: 20px;
  }
  .title1 {
    font-size: 64px;
  }
  /* body{
    overflow: visible;
  } */
  /* .electric-sec{
    height: 190vh;
  } */
  .offcanvas {
    flex-direction: column;
    text-align: center;
    position: fixed;
    z-index: 99;
    background: var(--offcanvsbckground-color);
  }
  .offcanvas-backdrop {
    z-index: 9;
  }
  .offcanvas .dropdown-menu {
    position: absolute;
    z-index: 999;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--hover-color);
  }
  .offcanvas > ul {
    background: var(--offcanvsbckground-color);
    margin: 0 !important;
    height: auto;
    border-radius: 0;
  }
   .nav-link {
    margin: 0 0 10px;
  }
  .drop-link {
    margin: 0 0 10px;
  }
  .nav-item {
    margin: 0;
  }
  .nav-btn {
    text-align: center;
  }
  .navbar-toggler {
    padding: 0;
    border: 0;
  }
   .nav-top-list>li{
    border: none;
  }
  .nav-form{
    margin: 10px auto 0;
  }
  .primary-btn {
    margin: 10px 0;
  }
   .modal-dialog{
    flex-direction: column-reverse;
  }
  .modal-content{
    max-width: 600px;
    margin: 0 auto;
  }
  .right-modal{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
  }
  .left-modal{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
  }
  .log-left-cont{
   border-top-left-radius: 20px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
}
.log-right-modal{
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0;
}
  .approach-card {
    margin: 0 auto;
  }
  .approach-sub-img {
    margin: 0 auto;
  }
  .approach-sub-card {
    margin: 0 auto;
  }
  .approach-box {
    max-width: 645px;
    margin: 0 auto;
  }
  .approach-img {
    margin: 20px auto;
    max-width: 100%;
  }
  .approach-cont {
    text-align: center;
  }
  .approach-row {
    flex-direction: column-reverse;
  }
  .card-main-body{
    text-align: center;
    padding: 12px 24px;
  }
  .electric-header {
    text-align: center;
    margin: 20px auto;
  }
  .electric-card {
    margin: 10px auto;
  }
  /* .electric-img {
    margin: 10px auto auto;
  } */
  /* .electric-sec {
    height: 190vh;
  } */
  .estimate-cont {
    text-align: center;
    margin: 0 auto;
  }
  .estimate-cont > ul {
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
  }
  .estimate-img {
    margin: 0 auto;
  }
  .estimate-sub-cont {
    max-width: 170px;
    margin: 0 auto;
    text-align: center;
  }
  .estimate-img::after{
    bottom: -40px;
  }
  .choose-row {
    flex-direction: column-reverse;
  }
  .choose-cont {
    text-align: center;
    margin: 0 auto;
  }
  .choose-cont > ul {
    text-align: left;
    max-width: 560px;
    margin: 30px auto;
  }
  .choose-img {
    margin: 0 auto;
    max-width: 100%;
  }
  .footer-form-cont {
    max-width: 710px;
  }
  .electric-sub-img {
   bottom: -180px;
   left: 10px;
    margin: 24px auto 0;    
    max-width: 260px;
    height: auto;
     
  }
  .electic-img-wraper {
    padding-bottom: 200px; 
  }
  .electric-img{
    height: auto;
    margin: 20px auto;
    position: static;
   }
  #submit {
    margin-left: auto;
  }
  #email {
    width: 500px;
    margin-right: auto;
  }
  .col-20 {
    width: 50%;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .view-btn {
    position: relative;
    z-index: 1;
  }
  #submit {
    z-index: 1;
  }
  .estimate-img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .estimate-img > img {
    object-fit: contain;
  }
  /* .estimate-sec {
    height: 180vh;
  } */
  .top-corner {
    top: 59.3%;
    right: 93.4%;
    /* box-shadow: 0 -15px 0 black; */
  }
  .bottom-corner {
    top: 85%;
    left: 65.5%;
    /* box-shadow: 0 -15px 0 black; */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%232662fd' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .estimate-sec {
    padding: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  .title1 {
    font-size: 40px;
  }
  .title2 {
    font-size: 36px;
  }
  .title3 {
    font-size: 28px;
  }
  .title4 {
    font-size: 18px;
  }
  .electric-img {
    max-width: 400px;
  }
  .electric-sub-img {
    max-width: 300px;
    left: -13%;
    bottom: -240px;
  }
  .footer-form-cont {
    max-width: 560px;
  }
  .approach-col{
    padding: 0 15px;
  }
  #submit {
    margin-left: auto;
    width: 150px;
  }
  #email {
    width: 400px;
    margin-right: auto;
    height: 70px;
  }
  .col-20 {
    width: 100%;
  }
  .footer-cont {
    text-align: center;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-low-img-cont {
    margin: 0 auto;
  }
  .footer-cont > ul > li > a {
    text-align: center;
  }
  .footer-header {
    font-size: 28px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
  .footer-logo {
    margin: 0 auto 19px;
  }
  /* .footer-cont-header{
   max-width: 170px;
   margin: 0 auto;
  } */
  /* .footer-cont>u>li{
    text-align: center;
  } */
  .footer-cont > ul {
    padding: 0;
  }
    .footer-cont > ul {
    padding: 0;
  }
  /* .estimate-sec {
    height: 180vh;
  } */
   .footer-cont {
    text-align: center;
    max-width: 500px;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
  .slider-card-img {
    max-width: 150px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
  .footer-low-img-cont {
    margin: 0 auto;
  }
  .mail-list{
  width: 350px;
  margin: 0 auto;
}
.contact-list{
  max-width: 500px;
}
}
@media screen and (max-width: 576px) {
    .nav-logo{
    max-width: 30px;
  }
  .approach-card {
    margin: 0 auto;
  }
  .approach-sub-card {
    margin: 10px auto;
  }
  .approach-sub-img {
    margin: 10px auto;
    max-width: 100%;
  }
  .approach-card{
    max-width: 100%;
  }
  .card-main-body>p{
    max-width: 270px;
    margin: 0 auto;
  }
  .card-main-title{
    margin: 0 auto;
  }
  .approach-sub-card{
    max-width: 100%;
  }
  #submit {
    margin-left: auto;
    width: 100px;
    font-size: 12px;
  }
  .estimate-sec {
    height: 170vh;
  }
  #email {
    width: 250px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
  .title1 {
    font-size: 36px;
  }
  .title2 {
    font-size: 28px;
  }
  .title3 {
    font-size: 24px;
  }
  .title4 {
    font-size: 14px;
  }
  .title5 {
    font-size: 14px;
  }
  .electric-card-title {
    font-size: 24px;
  }
  .card-para {
    font-size: 16px;
  }
  .electric-card-img {
    max-width: 50px;
  }
  .electric-img {
    max-width: 350px;
  }
  .electric-sub-img {
    max-width: 250px;
    bottom: -200px;  
    left: -10%;
  }
  /* .electic-img-wraper{
    padding-bottom: 300px;
  } */
  .electric-sec {
    height: 170vh;
  }
  .view-btn {
    padding: 12px 24px;
    font-size: 12px;
  }
  .estimate-img {
    height: auto;
  }
  .top-corner {
    top: 54.6%;
    right: 91.5%;
    /* box-shadow: 0 -15px 0 black; */
  }
  .bottom-corner {
    top: 75.6%;
    left: 61.5%;
    /* box-shadow: 0 -15px 0 black; */
  }
  .modal-content {
    max-width: 400px;
    height: 580px;
    margin: 0 auto;
  }
  #modal-email {
    max-width: 250px;
    margin-bottom: 10px;
  }
  #modal-password {
    max-width: 250px;
    margin-bottom: 10px;
  }
   #confirm-password {
    max-width: 250px;
    margin-bottom: 10px;
  }
   #address {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .modal-btn {
    padding: 16px 26px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .input-cont {
    max-width: 260px;
  }
  .input-cont-para > p {
    font-size: 14px;
    margin: 0 auto;
  }
  .log-btn {
    font-size: 14px;
  }
  .apple-btn {
    width: 120px;
    height: 45px;
  }
  .google-btn {
    width: 120px;
    height: 45px;
  }
  .apple-img {
    margin: 0 10px 0 0;
  }
  /* .btn-cont {
    max-width: 255px !important;
  } */
  .input-cont-para {
    margin-top: 10px;
  }
   .footer-link{
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .social-list > li {
    margin: 0 2px;
  }
  .nav-top {
    margin: 0 auto;
  }
  .nav-top-list > li {
    margin-right: 5px;
  }
  .electric-img {
    max-width: 300px;
    margin: 0 auto;
  }
  .electric-sub-img {
    max-width: 200px;
    left: -6%;
    bottom: -155px;
  }
  .electric-sec {
    height: 155vh;
    height: auto;
  }
  .top-corner {
    top: 54.6%;
    right: 88%;
    /* box-shadow: 0 -15px 0 black; */
  }
  .bottom-corner {
    top: 71.5%;
    left: 60%;
    /* box-shadow: 0 -15px 0 black; */
  }
}
@media screen and (max-width: 400px) {
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 24px;
  }
  .title4 {
    font-size: 12px;
  }
  .electric-img {
    max-width: 250px;
  }
  .electric-sub-img {
    max-width: 150px;
    bottom: -110px;
    left: 1%;
  }
  .estimate-sec {
    height: 150vh;
  }
  #submit {
    width: 90px;
  }
  #email {
    width: 230px;
  }
}
@media screen and (max-width: 360px) {
  #submit {
    margin-left: auto;
    width: 90px;
  }
  #email {
    width: 190px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 310px;
  }
  .left-side {
    font-size: 12px;
  }
  .right-side {
    font-size: 12px;
  }
  .side-box {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}
